html {
  scroll-behavior: smooth;
}

body{
    background-color:#0b0b0b;
    font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
/* ---------------------top버튼------------------------------------ */


#top-btn {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--bg, transparent);
  color: white;
  border: var(--border, solid 1.5px white);
  padding: 10px 12px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 300;
  transition: background-color 0.3s ease;

  background-image: url(../images/section1-intro/top-btn-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.6s ease;
}

/* 호버 시 버튼 색상 변경 */
#top-btn:hover {
  background-color: #ffffff;
  border: var(--border-hover, none);
  background-image: url(../images/section1-intro/top-btn-arrow-hover.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* top버튼 글씨 없애기 */
#top-btn>span {
  display: none;
}



/* ------------header---------------------- */

#header{
    max-width: 1600px;
    margin: 0 auto;
    height: 50px;
   
}

#header nav{
    height: 100%;
 display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------------------섹션페이지--------------- */
#section{
    margin: 0 auto;
    max-width: 1350px;
    padding: 50px 0;
    text-align: center;
}

#title-text h2{
font-size: 50px;
    font-weight: bolder;
    line-height: 1.7;
    color: white;
}

#title-text h2>span{
    font-size: 40px;
    font-weight: bold;
    display: block;
}

/* ----------꿈꾸미 이미지----------------- */

#image-container{
    width: 100%;
}

#image-container img:nth-of-type(1){
    padding-top: 100px;
    width: 100%;
    object-fit: cover;
}